{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="hero-wrap">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread"><a href="https://go.2gis.com/8qdnm">Как добраться?</a></h1>
              <div class="icon mt-2 d-flex justify-content-center align-items-center">
                  <a class=" dg-widget-link" href="http://2gis.kg/bishkek/firm/70000001032555223/center/74.581162,42.871833/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Бишкека</a><div class="dg-widget-link"><a href="http://2gis.kg/bishkek/center/74.581162,42.871833/zoom/16/routeTab/rsType/bus/to/74.581162,42.871833╎Юстим, многопрофильная компания?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до Юстим, многопрофильная компания</a></div><script charset="utf-8" src="https://widgets.2gis.com/js/DGWidgetLoader.js"></script><script charset="utf-8">new DGWidgetLoader({"width":200,"height":100,"borderColor":"#a3a3a3","pos":{"lat":42.871833,"lon":74.581162,"zoom":16},"opt":{"city":"bishkek"},"org":[{"id":"70000001032555223"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
              </div>
          </div>
        </div>
      </div>
</section>


{% endblock %}