{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg6.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread ">Наши партнеры</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Партнеры<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section bg-light">
			<div class="container-fluid px-4">
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Acme_color.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Amanat_road.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Be_Free.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Be_Free1.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Conte.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Contrast_Development_Group.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Elite_house.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Focus_Air.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/GRM_печати.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/GUCCI.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Gulya_Djamal.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/INTEGRA_Engineering_Group.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Jacamo.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Lex_VERITAS.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Make_up_boss.jpeg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/MegaCom.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/O.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Orda_Invest_Propertis.png' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Organic.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/ZARA.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/ЗАО_Южно_Кыргызский_цемент.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/ИнтерСерт.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Компетент.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Нур-Ай.png' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Оомат_Групп.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Регион.png' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Ректайм.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Сапаттуу_Билим.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Таза_жан_Амирхан.JPG' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Техпром-К (завод).jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Техпром-К_(взрывчатка).jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/Толубай_банк.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
                    <div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/ТрансКарго.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch">
                                    <img src="{% static 'images/partners/ЧШ_Приоритет.jpg' %}" alt="O" height="100%" width="100%">
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}