{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'images/bg_service.jpeg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Наши услуги</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="/">Главная <i class="ion-ios-arrow-forward"></i></a></span> <span>Услуги<i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>
        <section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-12 wrap-about py-5 pr-md-4 ftco-animate">
						<p>Юридическая компания "Юстим" предлагает широкий спектр юридических услуг.
                            Начиная с регистрации фирм и заканчивая представительством в суде. Мы поможем вам в любых юридических вопросах.
                            У нас в компании работают высококвалифицированные юристы, знающие свое дело на должном уровне. </p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/officel/40/000000/new-company.png"></div>
									<div class="text pl-3">
										<h3>Регистрация/перерегистрация юридических лиц</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/ultraviolet/40/000000/cancel-subscription.png"></div>
									<div class="text pl-3">
										<h3>Ликвидация/реорганизация юридических лиц</h3>
                                        <p></p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/officel/40/000000/add-contact-to-company.png"></div>
									<div class="text pl-3">
										<h3>абонентское обслуживание юридических лиц и индивидуальных предпринимателей</h3>
                                        <p></p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/color/48/000000/consultation.png"></div>
									<div class="text pl-3">
										<h3>Юридическая консультация</h3>
									</div>
								</div>
							</div>
                            <div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/ultraviolet/40/000000/law.png"></div>
									<div class="text pl-3">
										<h3>Представительство в суде и адвокатская защита</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/doodle/48/000000/certificate.png"></div>
									<div class="text pl-3">
										<h3>Получение лицензий, сертификатов, разрешений</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/office/40/000000/registered-trademark.png"></div>
									<div class="text pl-3">
										<h3>Регистрация фирменного наименования, товарного знака</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/dusk/64/000000/road-worker.png"></div>
									<div class="text pl-3">
										<h3>Разрешения на работу для иностранных граждан</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/offices/40/000000/passport.png"></div>
									<div class="text pl-3">
										<h3>Вид на жительство для иностранных граждан, получение гражданства</h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/bubbles/50/000000/business.png"></div>
									<div class="text pl-3">
										<h3>Юрист на выезд </h3>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 d-flex justify-content-center align-items-center"><img src="https://img.icons8.com/color/48/000000/rubber-stamp-bottom-view.png"></div>
									<div class="text pl-3">
										<h3>Изготовление печатей, штампов</h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}